@font-face {
  font-family: Titillium;
  font-style: normal;
  font-weight: 400;
  src: url(TitilliumWeb.ttf);
}

* {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  line-height: inherit;
  cursor: inherit;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

a img {
  border: none;
  outline: none;
}

ul, ol {
  list-style: none;
}

input, textarea, button {
  display: block;
  appearance: none;
  border-radius: 0;
}

input, textarea {
  cursor: text;
}

button, a, input[type="submit"] {
  cursor: pointer;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.clearfix {
  @include clearfix()
}

html {
  width: 100%;
  height: 100%;
  cursor: default;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  min-height: 100%;
  background: $white;
  color: $black;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

::-webkit-input-placeholder {
  color: $placeholder;
}

::selection {
  /*color: inherit;
  background: transparent;*/
}