$font-family: Titillium, sans-serif;
$font-size: 1.6rem;
$font-weight: 400;
$line-height: 1.2;

$red: #f24747;
$green: #62d66a;
$black: #102635;
$white: #fff;
$gray: rgba($black, 0.1);

$transition: 350ms ease;

$placeholder: rgba($black, 0.5);

@import 'mixins';
@import 'reset';

#titlebar {
  -webkit-app-region: drag;
  height: 6rem;
  text-align: center;

  svg {
    height: 4rem;
    margin-top: 2rem;
    display: inline-block;
    vertical-align: top;
  }
}

#window {
  padding: 2.5rem 0 2.5rem;
}

#ip {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  color: rgba($black, 0.2);
  font-size: 1.2rem;
}

.label {
  text-align: center;
  margin-bottom: 1rem;
}

.input-field {
  width: 100%;
  background: rgba($gray, 0.03);
  margin-bottom: 1rem;
  transition: background $transition;

  &.error {
    background: rgba($red, 0.1);
  }

  input {
    display: block;
    width: 100%;
    line-height: 2rem;
    padding: 1.3rem 2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: transparent;
    color: $black;
  }

  button {
    position: absolute;
    right: 2rem;
    height: 3rem;
    width: 2.5rem;
    top: 50%;
    margin-top: -1.5rem;
    background: transparent;

    svg {
      width: 100%;
      height: 100%;

      * {
        stroke: rgba($gray, 0.2);
        stroke-width: 3000;
        stroke-linecap: round;
        fill: none;
        transition: stroke $transition;
      }
    }

    &:hover {
      svg * {
        stroke: $black;
      }
    }
  }

  &.button {
    padding-right: 3rem;
  }
}

input {
  display: block;
  width: 100%;
}

#toggle {
  $size: 2.4rem;
  $width: 2.2;
  $scale: 1.2;

  margin: 2rem auto 0;
  width: $size * $width;
  height: $size;
  border-radius: $size;
  background-color: $red;
  transition: background $transition;

  span {
    position: absolute;
    left: -$size * ($scale - 1) / 2;
    top: -$size * ($scale - 1) / 2;
    height: $size * $scale;
    width: $size * $scale;
    border-radius: $size * $scale;
    background: $white;
    box-shadow: 0 $size*0.2 $size*0.6 rgba(0, 0, 0, 0.25);
    transition: left $transition;
  } 

  &.active {
    background-color: $green;

    span {
      left: $size * ($width - 1) - $size * ($scale - 1) / 2;
    }
  }
}