$font-family: Titillium, sans-serif;
$font-size: 1.6rem;
$font-weight: 400;
$line-height: 1.2;

$red: #f24747;
$green: #62d66a;
$black: #102635;
$white: #fff;
$gray: rgba($black, 0.1);

$transition: 350ms ease;

$placeholder: rgba($black, 0.5);

@import 'mixins';
@import 'reset';

#titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  height: 8rem;
  text-align: center;

  svg {
    height: 4.5rem;
    margin-top: 3.5rem;
    display: inline-block;
    vertical-align: top;
  }
}

#window {
  padding: 2.5rem 0 2.5rem;
}

#ip {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  color: rgba($black, 0.2);
  font-size: 1.2rem;
}

.label {
  text-align: left;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.input-field {
  $shadow: 2.5rem;
  $padding: 1.5rem;

  width: 95%;
  margin: 0 auto;
  margin-bottom: 1rem;
  background: rgba($gray, 0.08);
  transition: background $transition;
  height: 4.6rem;
  border-radius: 0.5rem;
  overflow: hidden;

  &.error {
    background: rgba($red, 0.1);
  }

  &.button {
    padding-right: 4rem;
  }

  input {
    display: block;
    width: 100%;
    line-height: 2.6rem;
    padding: 1rem $padding;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: transparent;
    color: $black;
  }

  button {
    position: absolute;
    right: $padding;
    height: 3rem;
    width: 2.5rem;
    top: 50%;
    margin-top: -1.5rem;
    background: transparent;

    svg {
      width: 100%;
      height: 100%;

      * {
        fill: rgba($white, 0.6);
        transition: fill $transition;
      }
    }

    &:hover {
      svg * {
        fill: $red;
      }
    }
  }

  &.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
    min-height: 4.6rem;
    padding: 0 $padding * 0.6;

    .taginput {
      width: 0;
      min-width: 3rem;
      flex: 1 1 auto;
      padding: 1rem $padding * 0.4;
    }

    span {
      display: block;
      vertical-align: middle;
      background: rgba($white, 0.4);
      border-radius: 0.4rem;
      padding: 0 $padding * 0.6;
      line-height: 3rem;
      height: 3rem;
      margin-top: 0.75rem;
      margin-right: 0.5rem;
      width: auto;
      transition: background $transition, color $transition, box-shadow $transition;

      &:hover {
        background: $red;
        color: $white;
      }

      &:first-child {
        margin-left: 0;
      }

      /*&:after {
        content: 'X';
        font-size: 1rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.75rem;
      }*/
    }
  }
}

input {
  display: block;
  width: 100%;
}

#toggle {
  $size: 2.4rem;
  $width: 2.2;
  $scale: 1.2;

  margin: 2rem auto 0;
  width: $size * $width;
  height: $size;
  border-radius: $size;
  background-color: rgba($gray, 0.08);
  transition: background $transition;

  span {
    position: absolute;
    left: -$size * ($scale - 1) / 2;
    top: -$size * ($scale - 1) / 2;
    height: $size * $scale;
    width: $size * $scale;
    border-radius: $size * $scale;
    background: $white;
    box-shadow: 0 $size*0.2 $size*0.6 rgba(0, 0, 0, 0.15);
    transition: left $transition;
  } 

  &.active {
    background-color: $green;

    span {
      left: $size * ($width - 1) - $size * ($scale - 1) / 2;
    }
  }
}

body {
  transition: filter $transition, opacity $transition;

  &.blur {
    opacity: 0.6;
    filter: grayscale(1);
  }
}